Today
<loading></loading>
<table>
  <thead>
    <tr>
      <th>nama</th>
      <th>Email</th>
      <th>Tlp</th>
      <th>Instansi</th>
    </tr>
    
  </thead>
  
  <tbody>
    <tr ng-repeat="tamu in guest">
      <td>{{tamu.nama}}</td>
      <td>{{tamu.email}}</td>
      <td>{{tamu.tlp}}</td>
      <td>{{tamu.instansi}}</td>
    </tr>
  </tbody>
</table>

 <a href="" class="btn-floating btn-large waves-effect waves-light red right" ng-click="clickMe()"><i class="mdi-content-add"></i></a>
 
 